body {
  padding: 0;
  margin: 0;
}
  
/* set map, body, and html to 100% of the screen size */
/* #line {
  vertical-align: bottom;
} */

#markers,
body,
html {
  height: 400px;
  vertical-align: top;
}

.jumbotron {
  color: #007bff;
  background-size: cover;
  /* background-position: center top; */
}