body {
  padding: 0;
  margin: 0;
}
  
/* set map, body, and html to 100% of the screen size */

.jumbotron {
  color: #007bff;
  background-size: cover;
}
.jumbotron h5 {
  color: #25383C;
}

#line {
  vertical-align: bottom;
} 

#markers,
body,
html {
  height: 400px;
  vertical-align: top;
}

#line-graph,
body,
html {
  height: 100%;
  width: 100%;  
} 


